<div class="container" id="viewAll">
<div class="jumbotron"></div>

<a href="/">HOME</a> | <a href="/add">CREATE ACCOUNT</a> | <a href="/all">FIND ALL BUDDIES</a> | <a href="/admin">ADMIN</a>
<p class="lead">Welcome Aboard! You can browse through all of our buddies below. Or you can use the filters to narrow your selection.</p>
<div class="col-8 offset-2">
  <h1>{{msg}}</h1>
  <h2>Please enter the information below to create your account</h2>
  <form class="clearfix mb-4" action="POST">
    <div class="form-group">
      <label for="buddy-firstName">Buddy First Name</label>
      <input type="text" id="buddy-firstName" class="form-control" aria-describedby="buddy-firstName"
        placeholder="Enter Your First Name">
    </div>
    <div class="form-group">
      <label for="buddy-lastName">Buddy Last Name</label>
      <input class="form-control" id="buddy-lastName" aria-describedby="buddy-lastName"
        placeholder="Enter Your Last Name"></textarea>
    </div>
    <div class="form-group">
      <label for="buddy-email">Buddy Email Address</label>
      <input class="form-control" id="buddy-email" aria-describedby="buddy-email"
        placeholder="Enter Your Email Address"></textarea>
    </div>
    <p>Click any of the check boxes below to show your your intrests in the subject</p>
    <div class="form-group">
     {{#each interests}}       
        <label for="interest-{{this.name}}">
        <input class="form-control" id="{{this.id}}" aria-describedby="interest-html" type="checkbox" value="{{this.name}}" name="interests" />
        <span class="pl-4 pr-3">{{this.name}}</span>
      
      </label>
         {{/each}}
      </div>
 
    <div class="form-group">
      <p>Don't see what you're looking for? Add a new interest here:</p>
      <input type="text" id="new-interest" class="form-control" aria-describedby="new-interest"
        placeholder="New Interest">
    </div>
    <button id="submit" class="btn btn-primary float-right">Submit</button>

  </form>
    <br>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>