<div id="home">
  <div class="jumbotron">
    <h1 class="display-4">{{msg}}</h1>
    <p class="lead">Welcome to the site take a look at some of the recent Buddies to join below. Click the link above to
      create an account</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/add" role="button">Create Account</a>
    </p>
  </div>
  <div>
    <div class="row">
      <div class="col s12 m6">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">HTML</span>
            <p>This is a topic. You can read this section for more information. Then you can request a buddy to studdy
              with!</p>
          </div>
          <div class="card-action">
            <a href="#">Find a buddy</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">CSS</span>
            <p>This is a topic. You can read this section for more information. Then you can request a buddy to studdy
              with!</p>

          </div>
          <div class="card-action">
            <a href="#">Find a buddy</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Javascript</span>
            <p>This is a topic. You can read this section for more information. Then you can request a buddy to studdy
              with!</p>

          </div>
          <div class="card-action">
            <a href="#">Find a buddy</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Java</span>
            <p>This is a topic. You can read this section for more information. Then you can request a buddy to studdy
              with!</p>

          </div>
          <div class="card-action">
            <a href="#">Find a buddy</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">C#</span>
            <p>This is a topic. You can read this section for more information. Then you can request a buddy to studdy
              with!</p>

          </div>
          <div class="card-action">
            <a href="#">Find a buddy</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h3>New Buddies:</h3>
  <ul id="buddy-list" class="list-group">
    {{#each buddies}}
    <li data-id="{{this.id}}" class="list-group-item">
      <a href="buddy/{{this.id}}">{{this.firstName}} {{this.lastName}} </a>
      <a>{{this.email}}</a>


      <button class="btn btn-danger float-right delete">ｘ</button>
    </li>
    {{/each}}
  </ul>
</div>
</div>
</div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>