<div id="home">
  <div class="jumbotron">
    <h1 class="display-4">{{msg}}</h1>
    <p class="lead">Welcome to the site take a look at some of the recent Buddies to join below. Click the link above to create an account</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/add" role="button">Create Acctount</a>
    </p>
  </div>
  {{!-- <h3>New Buddies:</h3>
  <ul id="buddy-list" class="list-group">
    {{#each buddies}}
    <li data-id="{{this.id}}" class="list-group-item">
      <a href="buddy/{{this.id}}">{{this.firstName}} {{this.lastName}} </a>
      <a>{{this.email}}</a>


      <button class="btn btn-danger float-right delete">ｘ</button>
    </li>
    {{/each}}
  </ul> --}}
</div>