  <p class="lead">Welcome Aboard! You can browse through all of our buddies below. Or you can use the filters to narrow
    your selection.</p>

  <div class="row">
    <div class="col-8 offset-2">
      <h2 class="display-4">{{msg}}</h2>
    </div>
  </div>

  <div id="buddy-list" class="list-group">
    {{#each buddies}}
    <ul class="collection">
      <li data-id="{{this.id}}" class="collection-item avatar">
        <i class="material-icons circle teal">person</i>
        <span class="title">Buddy Details:</span>
        <p>Name: <a href="/buddy/{{this.id}}">{{this.firstName}} {{this.lastName}}</a> <br>
          <i class="far fa-envelope"></i> :
          <a href="mailto:{{this.email}}?Subject=Study Buddy" target="_top">{{this.email}}</a><br>
          Interests:
           {{#each interests}}
           {{this.name}}
          {{/each}}
        </p>
        <a href="#!" class="secondary-content">{{this.interests.name}}</i></a>
      </li>
    </ul>
     
    {{/each}}
  </div>